
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div>
    <label for="prompt">Enter your prompt</label>
    <input type="text" id="prompt" name="prompt" />
    <button id="sendButton">Send</button>
</div>

<div id="responseContainer">
    <h3>Response</h3>
    <p id="responseText"></p>
</div>

@section Scripts{
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/query.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#sendButton').click(function () {
                var prompt = $('#prompt').val();
                $.post('/ChatGPTIntegration/GetChatGPTResponse', { prompt: prompt }, function (result) {
                    $('#responseText').text(result);
                })
            });
        });
    </script>
}